@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font-textos: Helvetica, Arial, sans-serif;
$font-titulos: Georgia, serif;
$font-roboto: 'Open Sans', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$red: #c71c22;
$blue: #1894c4;
$cinza: #666;

$facebook: #3b5998;
$twitter: #43bfe1;

$color-titulos: $red;
$color-textos: $cinza;

// Text
$color-text-base: #555555;
$default-font-size: 16px;// !important

// link
$color-link: $color-titulos;
$color-link-hover: darken($color-titulos, 10%);

// Mixin Placeholder
$color-mixin-placeholder: #cdcdcd;

// Selection
$color-selection: $color-titulos;

// Btn
$bg-btn: #555;
$bg-btn-hover: darken($bg-btn, 10%);
$clr-btn: #212121;
$clr-btn-hover: darken($clr-btn, 10%);

// = Grid
// -----------------------------

// Max width wrapper
$page-width: 1000px;

// = Responsive
// -----------------------------

$width-desktop: 75em; // 1200/16
$width-tablet: 62em; // 992/16
$width-mobile: 48em; // 768/16



// = Color Selection
// -----------------------------

$selection-color: #fff;
$selection-background: #ff0000;